:host {
    body {
      background-color: var(--ion-color-dark); /* Fondo oscuro para la página */
    }
  
    ion-item {
      --border-radius: 8px;
      margin-bottom: 8px;
      --background: var(--ion-color-dark); /* Fondo oscuro para los ítems */
    }
  
    /* Ajustar el color del texto en el input */
    ion-input {
      --color: #ffffff; /* Color blanco para el texto */
      --placeholder-color: #ffffff; /* Color blanco para el placeholder */
    }
  
    ion-label {
      color: #ffffff; /* Color blanco para las etiquetas de los inputs */
    }
  
    .logo-container {
      text-align: center;
  
      h1 {
        font-size: 32px;
        font-weight: 800;
        color: #ffffff; /* Color blanco para el título */
      }
  
      p {
        margin-bottom: 42px;
        color: #ffffff; /* Color blanco para el párrafo */
      }
    }
  
    .error-message {
      margin-top: 8px;
      color: var(--ion-color-danger); /* Color para mensajes de error */
    }
  
    /* Ajustar el color de los botones */
    ion-button {
      --color: #ffffff; /* Color blanco para el texto de los botones */
      --background: var(--ion-color-danger); /* Fondo rojo para los botones */
      --border-radius: 8px; /* Redondear los bordes de los botones */
    }
  
    ion-button[expand="block"] {
      margin-top: 16px; /* Separación superior para botones de expansión */
    }
  
    .ion-text-center small {
      color: var(--ion-color-medium); /* Color para el texto pequeño en el pie de página */
    }
  }